*{
    box-sizing: border-box;
}
html{
    font-family: Verdana, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}
.header{
    color: #fff;
    background-image: linear-gradient(60deg, red, orange);
    display: flex;
    justify-content: center;
}
.section{
    font-size: 1.25em;
    flex-grow: 3;
}
.navigation{
    flex-grow: 1;
}
img{
    max-width: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.navigation, .section, .news{
    padding: 0.5em;
}
.nav-list{
    list-style-type: none;
    padding: 0;
}
.nav-list-item{
    background-color: #808080;
    color: #fff;
    height: 2em;
    line-height: 2em;
    margin-bottom: 0.5em;
    padding: 0;
}
.nav-list-link{
    display: inline-block;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
}
.section__header{
    font-size: 5vw;
    text-align: center;
}
.section .units-list{
    line-height: 1.75em;
    margin-top: 0;
}
.css-units{
    color: #8b0000;
    background-color:#e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}
.news{
    flex-grow: 1;
}
.news p{
    margin: 0;
}
.footer{
    background-color: #e5e5e5;
    padding: 0.4em;
    text-align: center;
    margin-top: auto;
} 



@media(min-width:600px){
    .main__nav-and-section{
        display: flex;
        flex-grow: 3;
    }
    .navigation{
        width: 20%;
    }
    .section{
        width: 80%;
    }
    
}
@media(min-width:900px){
    .main{
        display: flex;
    }
    .main__nav-and-section{
       width: 80%;
    }
    .section{
        width: 60%;
    }
    .news{
        width: 20%;
    }
}