.navigation {
    background-color: #ff7f50;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}

.products-list {
    background-color: #006400;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}

.news {
    background-color: #0ff;
    min-height: 200px;
    display: flex;
    flex-grow: 1;
}

span {
    background-color: #faebd7;
    padding: 8px;
    border-radius: 4px;
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}
@media screen and (min-width:600px) {
    .products {
        display: flex;
        flex-direction: column;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .navigation{
        flex-grow:1;
    }
    .products-list{
        flex-grow:1;
}
.news {
    flex-grow: 1;
}
}

@media screen and (min-width:601px) and (max-width: 899px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .products {
        width: 100%;
      
    }
}

@media screen and (min-width:900px){
    .content {
        display: flex;
        flex-direction: row;
    }
    .products {
        flex-grow: 2;
    }
    .news {
        flex-grow: 1;
    }
}